################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
/.vs/
/.RestaurantPOS/bin/
/.RestaurantPOS/obj/
/RestaurantPOS/obj/Debug/net8.0-maccatalyst/maccatalyst-x64/PublishOutputs.fc2927a81b.txt
/RestaurantPOS/obj/Debug/net8.0-windows10.0.19041.0/win10-x64/resizetizer/r/beer.scale-100.png
/RestaurantPOS/obj/Debug/net8.0-windows10.0.19041.0/win10-x64/resizetizer/r/biryani.scale-100.png
/RestaurantPOS/obj/Debug/net8.0-windows10.0.19041.0/win10-x64/resizetizer/r/buns.scale-100.png
/RestaurantPOS/obj/Debug/net8.0-windows10.0.19041.0/win10-x64/resizetizer/r/burger_fries_combo.scale-100.png
/RestaurantPOS/obj/Debug/net8.0-windows10.0.19041.0/win10-x64/resizetizer/r/cake.scale-100.png
/RestaurantPOS/obj/Debug/net8.0-windows10.0.19041.0/win10-x64/resizetizer/r/chocolate.scale-100.png
/RestaurantPOS/obj/Debug/net8.0-windows10.0.19041.0/win10-x64/resizetizer/r/cocktail.scale-100.png
/RestaurantPOS/obj/Debug/net8.0-windows10.0.19041.0/win10-x64/resizetizer/r/coffee.scale-100.png
/RestaurantPOS/obj/Debug/net8.0-windows10.0.19041.0/win10-x64/resizetizer/r/credits.scale-100.txt
/RestaurantPOS/obj/Debug/net8.0-windows10.0.19041.0/win10-x64/resizetizer/r/cupcake.scale-100.png
/RestaurantPOS/obj/Debug/net8.0-windows10.0.19041.0/win10-x64/resizetizer/r/donut.scale-100.png
/RestaurantPOS/obj/Debug/net8.0-windows10.0.19041.0/win10-x64/resizetizer/r/drink.scale-100.png
/RestaurantPOS/obj/Debug/net8.0-windows10.0.19041.0/win10-x64/resizetizer/r/energy_drink.scale-100.png
/RestaurantPOS/obj/Debug/net8.0-windows10.0.19041.0/win10-x64/resizetizer/r/fast_food.scale-100.png
/RestaurantPOS/obj/Debug/net8.0-windows10.0.19041.0/win10-x64/resizetizer/r/fish.scale-100.png
/RestaurantPOS/obj/Debug/net8.0-windows10.0.19041.0/win10-x64/resizetizer/r/fish_and_chips.scale-100.png
/RestaurantPOS/obj/Debug/net8.0-windows10.0.19041.0/win10-x64/resizetizer/r/french_fries.scale-100.png
/RestaurantPOS/obj/Debug/net8.0-windows10.0.19041.0/win10-x64/resizetizer/r/fried_chicken.scale-100.png
/RestaurantPOS/obj/Debug/net8.0-windows10.0.19041.0/win10-x64/resizetizer/r/fried_egg.scale-100.png
/RestaurantPOS/obj/Debug/net8.0-windows10.0.19041.0/win10-x64/resizetizer/r/fried_rice.scale-100.png
/RestaurantPOS/obj/Debug/net8.0-windows10.0.19041.0/win10-x64/resizetizer/r/hamburger.scale-100.png
/RestaurantPOS/obj/Debug/net8.0-windows10.0.19041.0/win10-x64/resizetizer/r/hotdog.scale-100.png
/RestaurantPOS/obj/Debug/net8.0-windows10.0.19041.0/win10-x64/resizetizer/r/ice_cream.scale-100.png
/RestaurantPOS/obj/Debug/net8.0-windows10.0.19041.0/win10-x64/resizetizer/r/idli_platter.scale-100.png
/RestaurantPOS/obj/Debug/net8.0-windows10.0.19041.0/win10-x64/resizetizer/r/kebab.scale-100.png
/RestaurantPOS/obj/Debug/net8.0-windows10.0.19041.0/win10-x64/resizetizer/r/kimchi_jjiage.scale-100.png
/RestaurantPOS/obj/Debug/net8.0-windows10.0.19041.0/win10-x64/resizetizer/r/laddu.scale-100.png
/RestaurantPOS/obj/Debug/net8.0-windows10.0.19041.0/win10-x64/resizetizer/r/lobster.scale-100.png
/RestaurantPOS/obj/Debug/net8.0-windows10.0.19041.0/win10-x64/resizetizer/r/mango.scale-100.png
/RestaurantPOS/obj/Debug/net8.0-windows10.0.19041.0/win10-x64/resizetizer/r/masala_dosa.scale-100.png
/RestaurantPOS/obj/Debug/net8.0-windows10.0.19041.0/win10-x64/resizetizer/r/meal.scale-100.png
/RestaurantPOS/obj/Debug/net8.0-windows10.0.19041.0/win10-x64/resizetizer/r/nachos.scale-100.png
/RestaurantPOS/obj/Debug/net8.0-windows10.0.19041.0/win10-x64/resizetizer/r/noodles.scale-100.png
/RestaurantPOS/obj/Debug/net8.0-windows10.0.19041.0/win10-x64/resizetizer/r/orange_juice.scale-100.png
/RestaurantPOS/obj/Debug/net8.0-windows10.0.19041.0/win10-x64/resizetizer/r/pancakes.scale-100.png
/RestaurantPOS/obj/Debug/net8.0-windows10.0.19041.0/win10-x64/resizetizer/r/paneer.scale-100.png
/RestaurantPOS/obj/Debug/net8.0-windows10.0.19041.0/win10-x64/resizetizer/r/pasta.scale-100.png
/RestaurantPOS/obj/Debug/net8.0-windows10.0.19041.0/win10-x64/resizetizer/r/pie.scale-100.png
/RestaurantPOS/obj/Debug/net8.0-windows10.0.19041.0/win10-x64/resizetizer/r/pizza.scale-100.png
/RestaurantPOS/obj/Debug/net8.0-windows10.0.19041.0/win10-x64/resizetizer/r/pizza_slice.scale-100.png
/RestaurantPOS/obj/Debug/net8.0-windows10.0.19041.0/win10-x64/resizetizer/r/ramen.scale-100.png
/RestaurantPOS/obj/Debug/net8.0-windows10.0.19041.0/win10-x64/resizetizer/r/rice.scale-100.png
/RestaurantPOS/obj/Debug/net8.0-windows10.0.19041.0/win10-x64/resizetizer/r/roasted_chicken.scale-100.png
/RestaurantPOS/obj/Debug/net8.0-windows10.0.19041.0/win10-x64/resizetizer/r/salad_bowl.scale-100.png
/RestaurantPOS/obj/Debug/net8.0-windows10.0.19041.0/win10-x64/resizetizer/r/salad_plate.scale-100.png
/RestaurantPOS/obj/Debug/net8.0-windows10.0.19041.0/win10-x64/resizetizer/r/samosa.scale-100.png
/RestaurantPOS/obj/Debug/net8.0-windows10.0.19041.0/win10-x64/resizetizer/r/sandwich.scale-100.png
/RestaurantPOS/obj/Debug/net8.0-windows10.0.19041.0/win10-x64/resizetizer/r/snacks.scale-100.png
/RestaurantPOS/obj/Debug/net8.0-windows10.0.19041.0/win10-x64/resizetizer/r/soda.scale-100.png
/RestaurantPOS/obj/Debug/net8.0-windows10.0.19041.0/win10-x64/resizetizer/r/soft_drink.scale-100.png
/RestaurantPOS/obj/Debug/net8.0-windows10.0.19041.0/win10-x64/resizetizer/r/soju.scale-100.png
/RestaurantPOS/obj/Debug/net8.0-windows10.0.19041.0/win10-x64/resizetizer/r/spaghetti.scale-100.png
/RestaurantPOS/obj/Debug/net8.0-windows10.0.19041.0/win10-x64/resizetizer/r/sushi.scale-100.png
/RestaurantPOS/obj/Debug/net8.0-windows10.0.19041.0/win10-x64/resizetizer/r/taco.scale-100.png
/RestaurantPOS/obj/Debug/net8.0-windows10.0.19041.0/win10-x64/resizetizer/r/thai_food.scale-100.png
/RestaurantPOS/obj/Debug/net8.0-windows10.0.19041.0/win10-x64/resizetizer/r/thali.scale-100.png
/RestaurantPOS/obj/Debug/net8.0-windows10.0.19041.0/win10-x64/resizetizer/r/wrap.scale-100.png
